body {
  font-family: 'Arvo', 'Courier', serif;
}

a:link {color: #777; text-decoration: underline; }
a:active {color: #777; text-decoration: underline; }
a:visited {color: #aaa; text-decoration: underline; }
a:hover {color: #000; text-decoration: none; }

h1{
  text-align: center;
  margin-bottom: 50px;
  margin-top: 40px;
}

.blurb{
	background: none;
  border: none;
	display: inline-block;
  margin-bottom: 15px;
}

.blurb-thumbnail{
	width: 250px;
}

.bg {
  background: url('images/dota_coverpage.jpg') no-repeat center center;
  position: fixed;
  width: 100%;
  height: 350px; /*same height as jumbotron */
  top:0;
  left:0;
  z-index: -1;
}


.navbar-default {
     background: none; 
     border: none; 
}
.navbar>.container{
  margin-top: 20px;
}
/*
.container>.navbar-header {
  float: none;
  text-align: center;
}
*/

.navbar-default .navbar-brand {
  font-size: 24px;
  color: black;
  text-decoration: none;
  /*float: none;*/
}

.navbar-default .navbar-collapse, 
.navbar-default .navbar-form{
  border: none;
}


.list-group-item:last-child {
  margin-bottom: 50px;
}


#footer{
  clear: both;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

.thumbnail {
  border: none;
}

@media (min-width: 1000px){
  body {
    max-width: 900px;
    margin: auto;
  }
  .navbar>.container{
    max-width: 900px;
  }
  .list-group.container{
    max-width: 900px;
  }
  .list-group>.container{
    max-width: 900px;
  }
  #notebook>.container{
    max-width: 900px;
  }
}

@media (min-width: 768px){
  .navbar {
    border-radius: 0px;

  }

 
  .navbar .navbar-nav {
     /*
    clear: left;
    left: -30px;
    */
    position: relative;
    bottom: -3px;
  }
  

  .navbar .navbar-collapse {
      text-align: center;
  }

  
  .navbar .navbar-collapse {
      text-align: center;
  }


}
